
:root {
  
  /* relacionadas com o elemento prize*/
  --prize-scale: 0.5;
  --max-prize-width: 100px;
  --max-prize-height: 80px;
  --lace-thickness: 15px;

  /* relacionadas com o elemento door*/
  --door-area-width: 120px;
  --door-area-height: 200px;

}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


